<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <h1>Add your email</h1>
    <%= simple_form_for(@user, url: finish_sign_up_path(@user)) do |f| %>
      <%= f.input :username, autofocus: true, class: 'form-control', placeholder: 'Username' %>
      <%= f.input :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      <div class="form-group">
        <%= f.submit 'Add email', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
